<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.milagan.appSwift</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon_114.png</string>
		<string>icon_57.png</string>
		<string>icon_120.png</string>
		<string>icon_58.png</string>
		<string>icon_29.png</string>
		<string>icon_80.png</string>
	</array>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Xamarin CRM</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleVersion</key>
	<string>2.1.1</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeLocation</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Sales</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Sales</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xamarin.xamarincrm.001</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeLocation</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Customers</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Customers</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xamarin.xamarincrm.002</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeLocation</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Products</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Products</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xamarin.xamarincrm.003</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
